
Copy code
{% extends 'app/base.html' %}
{% load static %}
{% block title %}password reset complete{% endblock %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-1">
        <h3>Reset Password complete</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3m0qHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}